# Dependencias principales
streamlit==1.55.0
streamlit-option-menu==0.3.13

# Data Science y ML
pandas==2.3.3
numpy==2.4.3
scikit-learn==1.8.0
xgboost==3.2.0
joblib==1.5.2

# Visualización
plotly==5.18.0
matplotlib==3.8.2

# Utilidades
python-dateutil==2.8.2
pytz==2023.3.post1
