# Dependencias principales
streamlit==1.36.0
streamlit-option-menu==0.3.10

# Data Science y ML
pandas==2.1.4
numpy==1.26.3
scikit-learn==1.3.2
xgboost==2.0.3
joblib==1.3.2

# Visualización
plotly==5.18.0
matplotlib==3.8.2

# Utilidades
python-dateutil==2.8.2
pytz==2023.3.post1
